@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    background:azure;
    color:#333;
}

.mContainer {
    font-family: 'Cascadia Code', sans-serif;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    width:90%;
    margin:80px auto;
}

.logo {
    width:10%;
    position:fixed;
}

.logo p{
    margin:20px 0;
}

.pagecontents {
    position:fixed;
    margin-top:200px;
    border:black .5px solid;
    background:white;
    padding:20px;
    border-radius:6px;
}

.pagecontents h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.pagecontents p {
    font-size:smaller;
}


.right {
    grid-column: 2 / 6;
}

.navbar {
    display:flex;
    justify-content:left;
    padding-right:20px;
}

.links {
    display:flex;
    padding: 6px 20px;
    margin-right:0px;
    border:#333 .5px solid;
    border-bottom:none;
    align-content:center;
    border-radius: 6px 6px 0 0;
    background:white;
}

.links:nth-of-type(1) {
    background:white;
    margin-bottom:-1px;
    font-weight:bolder;
}

.links:nth-of-type(2) {
    background:#dbeaea;
    font-weight:bolder;
}

.links:nth-of-type(3) {
    background:#c0cdcd;
    font-weight:bolder;
}

.content {
    border:#333 .5px solid;
    border-radius: 0 6px 0 0;
    background-color: white;
    height:1000px;
    /*filter: drop-shadow(0px 4px 4px rgba(120, 120, 120, 0.25));    */
}

.intro {
    margin:60px;
    width:70%;
}

.intro h1 {
    font-size:xx-large;
    font-family:Arial, Helvetica, sans-serif;
}

.intro h2 {
    margin:50px 0;
    font-family:Arial, Helvetica, sans-serif;
}